/* ==========================================================================
   Squiz Matrix Asset ID: #846103
   Filename: [846103] - colours.scss
   Description: NTG colour palettes and text/bg utility classes
   ========================================================================== */

.ntgc-color--primary-default {
  color: #343741;
}
.ntgc-color--primary-mid {
  color: #304060;
}
.ntgc-color--primary-light {
  color: #506080;
}
.ntgc-color--primary-pale {
  color: #d0e0e0;
}
.ntgc-color--secondary-default {
  color: #2E979B;
}
.ntgc-color--secondary-mid {
  color: #2E979B;
}
.ntgc-color--secondary-light {
  color: #2E979B;
}
.ntgc-color--secondary-pale {
  color: #2E979B;
}
.ntgc-color--tertiary-default {
  color: #E35205;
}
.ntgc-color--tertiary-mid {
  color: #E35205;
}
.ntgc-color--tertiary-light {
  color: #E35205;
}
.ntgc-color--tertiary-pale {
  color: #C25062;
}
.ntgc-color--neutral-800 {
  color: #7E807B;
}
.ntgc-color--neutral-400 {
  color: #BABBB8;
}
.ntgc-color--neutral-200 {
  color: #DEDEDA;
}
.ntgc-color--neutral-100 {
  color: #F0EFEE;
}
.ntgc-color--notify-level5 {
  color: #107810;
}
.ntgc-color--notify-level4 {
  color: #107cc0;
}
.ntgc-color--notify-level3 {
  color: #fcc000;
}
.ntgc-color--notify-level2 {
  color: #e47024;
}
.ntgc-color--notify-level1 {
  color: #c43004;
}
.ntgc-color--white {
  color: #FFF;
}
.ntgc-bg-color--primary-default {
  background-color: #343741;
}
.ntgc-bg-color--primary-mid {
  background-color: #304060;
}
.ntgc-bg-color--primary-light {
  background-color: #506080;
}
.ntgc-bg-color--primary-pale {
  background-color: #d0e0e0;
}
.ntgc-bg-color--secondary-default {
  background-color: #2E979B;
}
.ntgc-bg-color--secondary-mid {
  background-color: #2E979B;
}
.ntgc-bg-color--secondary-light {
  background-color: #2E979B;
}
.ntgc-bg-color--secondary-pale {
  background-color: #2E979B;
}
.ntgc-bg-color--tertiary-default {
  background-color: #E35205;
}
.ntgc-bg-color--tertiary-mid {
  background-color: #E35205;
}
.ntgc-bg-color--tertiary-light {
  background-color: #E35205;
}
.ntgc-bg-color--tertiary-pale {
  background-color: #C25062;
}
.ntgc-bg-color--neutral-800 {
  background-color: #7E807B;
}
.ntgc-bg-color--neutral-400 {
  background-color: #BABBB8;
}
.ntgc-bg-color--neutral-200 {
  background-color: #DEDEDA;
}
.ntgc-bg-color--neutral-100 {
  background-color: #F0EFEE;
}
.ntgc-bg-color--notify-level5 {
  background-color: #107810;
}
.ntgc-bg-color--notify-level4 {
  background-color: #107cc0;
}
.ntgc-bg-color--notify-level3 {
  background-color: #fcc000;
}
.ntgc-bg-color--notify-level2 {
  background-color: #e47024;
}
.ntgc-bg-color--notify-level1 {
  background-color: #c43004;
}
.ntgc-bg-color--white {
  background-color: #FFF;
}