/* ==========================================================================
   Squiz Matrix Asset ID: #846107
   Filename: [846107] - svgs-agency.scss
   Description: Agency SVGs & graphic overrides
   ========================================================================== */

@charset "UTF-8";
.ntgc-header--dark.ntgc-header--graphic {
  background-image: url("https://internal.nt.gov.au/education/_design/css/base/det-graphics.svg") !important;
}