/* ==========================================================================
   Squiz Matrix Asset ID: #264201
   Filename: [264201] - responsive-media.scss
   Description: NTG Responsive video spacing
   ========================================================================== */

h2 + .au-responsive-media-vid {
  margin-top: 24px;
  margin-top: 1.5 rem;
}