/* ==========================================================================
   Squiz Matrix Asset ID: #264189
   Filename: [264189] - fancybox.scss
   Description: NTG Fancybox lightbox overrides
   ========================================================================== */

h2 + .fancybox img {
  margin-top: 24px;
  margin-top: 1.5 rem;
}