/* ==========================================================================
   Squiz Matrix Asset ID: #264177
   Filename: [264177] - animate.scss
   Description: NTG Animation keyframes (fadein)
   ========================================================================== */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}