/* ==========================================================================
   Squiz Matrix Asset ID: #303820
   Filename: [303820] - counter.scss
   Description: NTG Counter badge styles
   ========================================================================== */

.ntgc-counter {
  font-size: 0.6875rem;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  border: 1px solid #343741;
  border-radius: 1.5rem;
}