/* ==========================================================================
   Squiz Matrix Asset ID: #311857
   Filename: [311857] - video-embed.scss
   Description: NTG Video embed wrapper & modal trigger button
   ========================================================================== */

.ntgc-video-embed {
  width: auto;
  position: relative;
  cursor: pointer;
}
.ntgc-video-embed__btn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='78' height='78' viewBox='0 0 62 62'%3E%3Ccircle id='Ellipse_176' data-name='Ellipse 176' cx='31' cy='31' r='31' fill='%23fff'/%3E%3Cg id='Polygon_1' data-name='Polygon 1' transform='translate(39 23) rotate(90)' fill='%23208820'%3E%3Cpath d='M 15.22297954559326 13.50000190734863 L 1.77701997756958 13.50000190734863 C 1.513149976730347 13.50000190734863 1.384389996528625 13.32182121276855 1.341279983520508 13.24521160125732 C 1.29816997051239 13.16860198974609 1.212689995765686 12.96607208251953 1.349629998207092 12.74051189422607 L 8.072600364685059 1.66737163066864 C 8.204400062561035 1.450301647186279 8.415399551391602 1.426861643791199 8.5 1.426861643791199 C 8.584600448608398 1.426861643791199 8.795599937438965 1.450301647186279 8.927399635314941 1.66737163066864 L 15.65036964416504 12.74051189422607 C 15.78730964660645 12.96607208251953 15.70182991027832 13.16860198974609 15.65872001647949 13.24521160125732 C 15.61561012268066 13.32182121276855 15.48684978485107 13.50000190734863 15.22297954559326 13.50000190734863 Z' stroke='none'/%3E%3Cpath d='M 8.499850273132324 1.927108764648438 L 8.5 1.926861763000488 L 1.777020454406738 13.00000190734863 L 15.2229700088501 13.00000190734863 L 8.499850273132324 1.927108764648438 M 8.5 0.9268617630004883 C 8.830044746398926 0.9268617630004883 9.160089492797852 1.087202072143555 9.354789733886719 1.407881736755371 L 16.07776069641113 12.48102188110352 C 16.48237991333008 13.14744186401367 16.00260925292969 14.00000190734863 15.2229700088501 14.00000190734863 L 1.777020454406738 14.00000190734863 C 0.9973907470703125 14.00000190734863 0.5176200866699219 13.14744186401367 0.9222393035888672 12.48102188110352 L 7.645210266113281 1.407881736755371 C 7.839909553527832 1.087202072143555 8.169955253601074 0.9268617630004883 8.5 0.9268617630004883 Z' stroke='none' fill='%23208820'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  width: 3rem;
  position: absolute;
  left: 0%;
  right: 0%;
  top: -4%;
  bottom: 0%;
  margin: auto;
  background-size: contain;
  background-position: center;
}
.ntgc-video-embed__text {
  font-size: 0.875rem;
  font-weight: 400;
  max-width: none !important;
}