/* ==========================================================================
   Squiz Matrix Asset ID: #315686
   Filename: [315686] - image-embed.scss
   Description: NTG Image embed component
   ========================================================================== */

.ntgc-image-embed h1, .ntgc-image-embed h2, .ntgc-image-embed h3, .ntgc-image-embed h4, .ntgc-image-embed h5, .ntgc-image-embed h6 {
  margin-top: 0;
}
.ntgc-image-embed__inner {
  display: flex;
}
.ntgc-image-embed__text--bottom {
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}
.ntgc-image-embed__text p {
  max-width: none !important;
}
@media (min-width: 1024px) {
  .au-grid .ntgc-image-embed__text--left, .ntgc-image-embed__text--left {
    flex-flow: row nowrap;
  }
  .au-grid .ntgc-image-embed__text--right, .ntgc-image-embed__text--right {
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
  }
  .au-grid .ntgc-image-embed__text--top, .ntgc-image-embed__text--top {
    flex-flow: column wrap;
  }
  .au-grid .ntgc-image-embed__text--top .ntgc-map__map-embed, .ntgc-image-embed__text--top .ntgc-map__map-embed {
    margin-top: 1.75rem;
  }
  .au-grid .ntgc-image-embed__text--bottom, .ntgc-image-embed__text--bottom {
    flex-flow: column-reverse wrap;
  }
  .au-grid .ntgc-image-embed__text--bottom .ntgc-map__map-embed, .ntgc-image-embed__text--bottom .ntgc-map__map-embed {
    margin-bottom: 1.75rem;
  }
}