/* ==========================================================================
   Squiz Matrix Asset ID: #421923
   Filename: [421923] - document-list.scss
   Description: NTG Document list component
   ========================================================================== */

.document-list_wrapper .document-list {
  padding-left: 0;
}
.document-list_wrapper .document-list li {
  list-style: none;
}
.document-list_wrapper .document-list hr {
  border-top: 1px solid #F0EFEE;
}