/* ==========================================================================
   Squiz Matrix Asset ID: #264105
   Filename: [264105] - footer-module.scss
   Description: @gov.au/footer v3.0.5
   ========================================================================== */

/*! @gov.au/footer v3.0.5 */
@media print {
  .au-footer {
    color: #000 !important;
    background: #fff !important;
    border-color: #000 !important;
  }
}
/**
 * Basic footer block styling.
 */
.au-footer {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  padding: 48px 0 48px;
  padding: 3 rem 0  3 rem;
  border-top: 4px solid #9a9ba0;
  border-top: 0.25 rem solid #9a9ba0;
  background-color: #ffffff;
  font-family: "Roboto", arial, sans-serif;
  color: #343741;
}
.au-footer p:last-child {
  margin: 0;
}
.au-footer.au-footer--alt {
  background-color: #ebebeb;
}
.au-footer.au-footer--dark {
  color: #FFFFFF;
  border-color: #a2a1a3;
  background-color: #454347;
}
.au-footer.au-footer--dark.au-footer--alt {
  background-color: #312f32;
}
/**
 * Footer `nav` navigation styling.
 */
.au-footer__navigation .au-link-list > li {
  margin-left: 0;
}
.au-footer__end {
  padding-top: 16px;
  padding-top: 1 rem;
  margin-top: 16px;
  margin-top: 1 rem;
  border-top: 1px solid #9a9ba0;
}
.au-footer--dark .au-footer__end {
  border-top: 1px solid #a2a1a3;
}